// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Prevent horizontal scroll of <body> element
$body-overflow-x-hidden:        true !default;

// Base Font
$base-font-family:              "Open Sans", sans-serif !default;
$header-font-family:            "brandon-grotesque", arial, helvetica, sans-serif !default;
$base-font-size:                16px !default;
$base-line-height:              1.4375 !default;
$base-font-weight:              300 !default;

// Colours
$colors: (
    // Section Colours
    "mauve":                    rgb(170, 85, 108),
    // Monochrome
    "white":                    rgb(255, 255, 255),
    "smoke":                    rgb(244, 244, 245),
    "grey":                     rgb(183, 183, 183),
    "charcoal":                 rgb(29, 36, 36),
    "black":                    rgb(0, 0, 0)
) !default;

// Base Colors
$body-background:               map-get($colors, "white") !default;
$font-color:                    map-get($colors, "white") !default;
$accent-color:                  map-get($colors, "mauve") !default;

// Miscellaneous
$animation-speed-fast:          500ms !default;
$easing-default:                cubic-bezier(.22, 1, .36, 1) !default;  // easeOutQunit - Further easing options can be found at https://easings.net/


// CSS Custom Properties/Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:root {
    --base-font-size: #{$base-font-size};
    --font-color: #{$font-color};
    --accent-color: #{$accent-color};
}
